:root {
  --main-btn-color: #ccab81;
  --nav-btn-color: #a2abab;
  --card-hd-color: #896e69;
  --card-bd-color: #261f1b;
  --card-ft-color: #dac3b3;
  --card-ft-hd-color: #32404e;
  --alert-bg-color: #eae2d6;
  --nav-btn-hvr-color: #f4f3f3;
  --btn-hvr-color: #f2eeed;
  --text-drk-color: #2b303a;
}
