@import url('https://fonts.googleapis.com/css2?family=Cormorant+Unicase:wght@400;500;600;700&family=Roboto:wght@300;400;500;700&family=Varela+Round&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  background: url(./assets/images/books.jpeg) no-repeat center center/cover;
  color: #fff;
  font-family: 'Varela Round', sans-serif;
}

.quote {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70vw;
  max-width: 100%;
  min-width: 360px;
  padding: 2.5rem 2rem;
  background-color: rgba(79, 74, 69, 0.9);
  border-radius: 10px;
}

h1 {
  font-family: 'Cormorant Unicase', serif;
  font-size: 2.2rem;
  font-weight: 700;
  letter-spacing: 1px;
}

h2 {
  font-family: 'Cormorant Unicase', serif;
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: 1px;
}
h3 {
  font-family: 'Cormorant Unicase', serif;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 1px;
}

.logo {
  width: 50px;
}

.cite-custom {
  font-family: sans-serif;
  font-style: italic;
}

.button {
  background-color: var(--main-btn-color);
  border: 0;
  color: white;
  text-align: center;
  transition: transform 0.3s ease-in-out;
  font-size: 1rem;
}

.nav-button {
  background-color: var(--nav-btn-color);
  border: 0;
  color: white;
  text-align: center;
  transition: transform 0.3s ease-in-out;
  font-size: 1rem;
}

.nav-button:hover {
  background-color: var(--nav-btn-hvr-color);
  color: black;
  transform: scale(1.1);
}

.nav-button:active {
  background-color: var(--nav-btn-hvr-color);
  color: black;
}

.nav-button.btn:active {
  background-color: var(--nav-btn-hvr-color);
  color: black;
}

.button:hover {
  background-color: var(--btn-hvr-color);
  color: black;
  transform: scale(1.1);
}

.button:active {
  background-color: var(--btn-hvr-color);
  color: black;
}

.button.btn:active {
  background-color: var(--btn-hvr-color);
  color: black;
}

.card-custom {
  border: 0;
  text-align: center;
  background-color: var(--card-hd-color);
}

.card-custom-header {
  background-color: var(--card-hd-color);
  font-size: 1rem;
  border: 0;
  color: white;
  text-align: center;
}

.card-custom-body {
  background-color: var(--card-bd-color);
  color: white;
  text-align: center;
}

.card-custom-footer {
  background-color: #dac3b3;
  font-size: 1rem;
  color: var(--card-ft-hd-color);
}

.card-custom-footer-detail-end {
  border-bottom-left-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
}

.custom-link {
  color: #2b303a;
  color: var(--card-ft-hd-color);
  /* text-decoration: none; */
  /* color: var(--card-hd-color); */
  text-decoration-color: var(--card-ft-hd-color);
  text-underline-offset: 2px;
}

.custom-link:hover {
  color: var(--card-hd-color);
}

.alert-custom {
  background-color: #eae2d6;
  color: #2b303a;
  border: 0;
  font-size: 1.2rem;
  margin: 10px 20px;
}

.card-custom-header-quote {
  font-size: 1.3rem;
  border-radius: 10px;
}

.card-custom-body-quote {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.card-custom-header-detail {
  border-radius: 10px;
}

.collection-custom {
  background-color: var(--card-hd-color);
  color: white;
  margin: 17px;
}

.collection-box {
  background-color: var(--card-bd-color);
  border-radius: 10px;
}

.button-collection-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
}

.quote-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.quote-content {
  text-align: left;
}

.quote-author {
  text-align: center;
  font-style: italic;
  font-family: sans-serif;
}

.button-custom-collection {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: 10px;
  min-width: 85px;
  font-size: 15px;
}

.button-home-custom {
  font-size: 1.2rem;
}

@media screen and (max-width: 779px) {
  .quote-wrapper {
    justify-content: center;
    padding-bottom: 15px;
  }
  .quote-content {
    width: 100%;
  }
  .quote-author {
    text-align: left;
    width: 100%;
    margin-bottom: 12px;
  }
  .button-custom-collection {
    margin-left: 8px;
    margin-right: 8px;
    max-width: 75px;
    min-width: 40%;
  }
}

@media screen and (max-width: 600px) {
  .quote {
    padding: 2rem 1rem;
    /* margin: 30px 0; */
  }

  .logo {
    width: 40px;
  }

  h1 {
    font-size: 1.8rem;
  }

  h2 {
    font-size: 1.6rem;
  }
  h3 {
    font-size: 1.4rem;
  }

  p {
    font-size: 17px;
  }

  .quote-title {
    font-size: 18px;
  }
  .alert-custom {
    font-size: 18px;
    margin: 0;
  }
  .alert-heading {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
  }

  .button {
    font-size: 14px;
  }

  .nav-button {
    font-size: 15px;
  }

  .collection-custom {
    margin: 15px;
  }

  .card-custom-header {
    font-size: 14px;
  }
  .card-custom-footer {
    font-size: 14px;
  }
}
